 <nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
      <router-link class="navbar-brand" to="/">
        <img src="@/assets/images/pace_logo.png" class="logo" alt="Pace Logo" />
      </router-link>

      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        @click="isCollapsed = !isCollapsed"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div :class="['collapse', 'navbar-collapse', { show: !isCollapsed }]" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <router-link to="/" class="nav-link" exact-active-class="active" @click="closeNavbar">
              Home
            </router-link>
          </li>
          <li class="nav-item">
            <a href="https://www.pacecarrental.co.za/" class="nav-link" target="_blank" rel="noopener" @click="closeNavbar">
              About
            </a>
          </li>
          <li class="nav-item">
            <router-link to="/my_inspections" class="nav-link" exact-active-class="active" @click="closeNavbar">
              My Inspections
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>